@use 'src/assets/base' as *;
@use 'src/assets/element/index' as *;

#app, main {
  font-weight: normal;
  height: 100vh;  
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), url('./background.jpg') no-repeat 0% 20%/ cover;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

// PC
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    #app {
      padding: 1.2rem 2rem;
    }
    main {
      border: 1PX solid #d4d4d4;
      border-radius: 2rem;
      overflow: hidden;
      height: 100%;
    }
  }
}

@media (min-width: 1024px) {
  body {
    #app {
      padding: 1.2rem 0;
    }
    main {
      border: 1PX solid #d4d4d4;
      border-radius: 2rem;
      overflow: hidden;
      height: 100%;
      margin: 0 auto;
      width: 50rem;
    }
  }
}
